name: Testing DealNews\Console

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['8.2', '8.3', '8.4']
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Composer Install
      uses: php-actions/composer@v6
      with:
        php_version: ${{ matrix.php-versions }}

    - name: PHPUnit tests
      uses: php-actions/phpunit@v4
      with:
        php_extensions: "pcov yaml"
        version: "11.5"
        php_version: ${{ matrix.php-versions }}
